#weather-data,
#hourly-forecast {
    border-radius: 5px;
    padding: 5px;
    margin: 10px 30px;
}

#weather-temp {
    font-size: 24px;
    font-weight: bold;
}

#weather-info {
    margin: 10px 0;
}

.forecast-day {
    border-radius: 5px;
    margin: 3px;
}

#daily-forecast {
    margin-bottom: 0;
}

#hourly-forecast {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}
