<div class="game-container">
  <div class="game-board">
    <!-- row 1 -->
    <app-deck-pile [cards]="game.deck" (click)="game.drawCard()" />
    <app-waste-pile [cards]="game.waste" />
    <div></div>
    <app-foundation-pile [cards]="game.foundation.spades" />
    <app-foundation-pile [cards]="game.foundation.clubs" />
    <app-foundation-pile [cards]="game.foundation.hearts" />
    <app-foundation-pile [cards]="game.foundation.diamonds" />

    <!-- row 2 -->
    <app-tableau-pile
      [cards]="game.tableau[0]"
      [index]="0"
      (moveToFoundation)="moveToFound($event)"
    />
    <app-tableau-pile
      [cards]="game.tableau[1]"
      [index]="1"
      (moveToFoundation)="moveToFound($event)"
    />
    <app-tableau-pile
      [cards]="game.tableau[2]"
      [index]="2"
      (moveToFoundation)="moveToFound($event)"
    />
    <app-tableau-pile
      [cards]="game.tableau[3]"
      [index]="3"
      (moveToFoundation)="moveToFound($event)"
    />
    <app-tableau-pile
      [cards]="game.tableau[4]"
      [index]="4"
      (moveToFoundation)="moveToFound($event)"
    />
    <app-tableau-pile
      [cards]="game.tableau[5]"
      [index]="5"
      (moveToFoundation)="moveToFound($event)"
    />
    <app-tableau-pile
      [cards]="game.tableau[6]"
      [index]="6"
      (moveToFoundation)="moveToFound($event)"
    />
  </div>
</div>
