.ttt {
    /* 3 x 3 grid */
    grid-template-columns: repeat(3, 1fr);
}

.ttt > div:first-child {
    border-top-left-radius: 10px;
}

.ttt > div:nth-child(3) {
    border-top-right-radius: 10px;
}

.ttt > div:nth-child(7) {
    border-bottom-left-radius: 10px;
}

.ttt > div:last-child {
    border-bottom-right-radius: 10px;
}

.ttt-cell {
    height: 100px;
    width: 100px;
    outline: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #242424;
}
