
body {
	font-family: Arial, sans-serif;
}
p {
	font-size: 32px;
	text-decoration: underline;
	background-color: #f0f0f0;
	color: #000;
	border: 1px solid #000;
}
img {
	width: 550px;
	height: auto;
}