p {
    font-size: 32px;
    text-decoration: underline;
    background-color: black;
    color: white;
    border: 5px groove red;
}

img {
    width: 550px;
    border: 5px groove blue;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
