.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.id {
    color: #fff;
    background-color: steelblue;
    border-radius: 1rem;
    margin-right: 2rem;
    padding: 0.5rem;
}

.title {
    text-transform: capitalize;
}

.tbl {
    border-collapse: collapse;
}

.data {
    text-transform: capitalize;
}

td.data {
    border: 1px solid white;
    padding: 0.25rem;
}
